<style>
    input[type=text] {
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid silver;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    button {
        border: 2px solid silver;
        background-color: white;
        font-size: 16px;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        cursor: pointer;
    }

    button:active {
        border-color: black;
    }

    #container {
        border: 2px darkred dashed;
        padding: 20px;
    }
</style>

<div id="container">
    <h1>{{'WELCOME' | translate}}!</h1>
    <h1>{{'TITLE' | translate}}!</h1>
    <button (click)="getEvent()">Obter Tema</button>
    <div>
        {{tema}}
    </div>
</div>


<div style="margin-top: 150px;">
    <div class="sample-content">
        <div class="sample-column">
            <div class="grid-wrapper">
                <igx-grid igxPreventDocumentScroll #grid [data]="data" primaryKey="ProductID" rowEditable="true"
                    (columnInit)="initColumn($event)" [clipboardOptions]="options" [autoGenerate]="true">
                    <igx-grid-toolbar>
                        <div class="tlb">
                            <igx-switch [(ngModel)]="options.enabled">Grid copy behavior</igx-switch>
                            <igx-switch [(ngModel)]="options.copyHeaders">Copying of header labels</igx-switch>
                            <igx-switch [(ngModel)]="options.copyFormatters">Copying column formatters</igx-switch>
                            <button igxButton="outlined" igxRippleCentered="true" (click)="grid.clearCellSelection()">
                                <igx-icon family="material">clear</igx-icon>
                                <span>Selection</span>
                            </button>
                        </div>

                    </igx-grid-toolbar>
                </igx-grid>
            </div>

            <div style="margin-top: 0.5rem">
                <igx-input-group type="box">
                    <label igxLabel>Paste your data here (or in Excel)</label>
                    <textarea igxInput cols="30" rows="5"></textarea>
                </igx-input-group>
            </div>
        </div>
    </div>
</div>